<% include ../partials/head %>

<body>
  <% include ../partials/header %>
  <div class="masthead">
    <div class="container h-100">
      <div class="row align-items-center">
        <div class="col-6 text-center">
          <img src="/images/dark-logo.png" alt="" />
        </div>
        <div class="col-6">
          <h1 class="text-center">Paste it. Short it. Use it.</h1>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 text-justify">
          <img src="/images/screenshot.png" alt="Screenshot" width="100%" />
        </div>
        <div class="col-6 text-justify">
          <h1 class="text-center">Simple as 1+1</h1>
          <ol>
            <li>Paste your link in the input field</li>
            <li>Click on "Short me!"</li>
            <li>Share your shortened URL with anyone!</li>
            <li>Later check your statistics!</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <% include ../partials/footer %>
</body>
