body {
  font: 20px 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  margin-top: 60px;
}

a {
  color: #6e8792;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-short {
  color: #ffffff;
  background-color: #b3c7bb;
  border-color: #b3c7bb;
}

.btn-short:hover {
  background-color: #82a791;
}
