<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <a class="navbar-brand" href="/">Url Shortener</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-item nav-link active" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li>
        <a class="nav-item nav-link" href="/features">Features</a>
      </li>
    </ul>
    <a class="nav-item nav-link" href="https://github.com/PoOwAa">
      <img
        src="/images/github-logo.png"
        alt="PoOwAa's GitHub Profile"
        width="20px"
      />
    </a>
    <a class="nav-item nav-link" href="#">Admin</a>
  </div>
</nav>
